<!doctype html>
<head>
    <title>Multibuscador</title>
    <meta name="description" content="Buscador automático de libros en múltiples sitios web.">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main id="searching_area">
        <h1>Multibuscador</h1>
        <form method="post" id="search_form">
            <label for="title">Título del libro:</label>
            <input type="text" name="title" value="{{ request.form['title'] }}">
            <input type="submit" value="Buscar">
        </form>
        {% if result != "" %}
            <ul id="results_list">
                {% for search in result %}
                    <li>
                        <a href="{{ search[0] }}">{{ request.form['title'] }}</a>
                        en <b>{{ search[1] }}</b>
                        {% if search[2] != "" %}
                            <span title="{{ search[2] }}" class="more_info">ⓘ</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <br/>
        <footer id="additional_info">
            <p>
                Sitios buenos sin URL de búsqueda:
                <a href="https://freeditorial.com"><b>freeditorial.com</b></a> - 
                <a href="https://pdfcoffee.com/"><b>pdfcoffee.com/</b></a>
            </p>
        </footer>
    </main>
    <aside id="news_area">
        <h2>Lo nuevo</h2>
        <ul>
            {% for entry in sidebar %}
                <li><span class="{{ entry[2] }}">{{ entry[0] }}</span> - {{entry[1]}}.</li>
            {% endfor %}
        </ul>
    </aside>
</body>
